
html {
    scroll-behavior: smooth;
}
* {
    scrollbar-width: thin;
    scrollbar-color: #1f1e1cce  #ded3af;
  }

  
*::-webkit-scrollbar-track
{
	background-color: #ded3af;
}

*::-webkit-scrollbar
{
	width: 10px;
	background-color: #ded3af;
}

*::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #1f1e1cce;
}
  .v-application {
    .v-card {
        background-color: #F1E9D6 !important;
    }
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.v-application, .v-application--wrap{
  min-height: 100%;
}

.close-btn {
  position: absolute;
  right: 1rem;
  top: 1rem;
  color: black;
}

.blur{
  filter: blur(4px);
}