name: Version Patch

on:
  workflow_dispatch:

jobs:
  version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: git config --global user.name 'GitHub Actions Bot'
      - run: git config --global user.email '<>'
      - run: npm version patch
      - run: git push --tags
